<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ranbom.haque.dao.ArticleMapper">

    <resultMap id="ArticleTag" type="Article">
        <id column="id" property="id"/>
        <result column="quser_id" property="quserId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="status" property="status"/>
        <result column="markdown" property="markdown"/>
        <collection property="tagList" ofType="Tag">
            <result column="tag_name" property="tagName"/>
            <result column="is_deleted" property="deleted"/>
        </collection>
    </resultMap>

    <sql id="selectFields">
        id, quser_id, title, content, markdown, create_time, status
    </sql>

    <sql id="insertFields">
        quser_id, title, content, markdown, create_time, status
    </sql>

    <select id="selectArticles" parameterType="int" resultType="com.ranbom.haque.entity.Article">
        select <include refid="selectFields"/>
        from article
        where status != 1
        and quser_id = #{quserId}
        order by create_time desc
        limit #{limit} offset #{offset}
    </select>

    <select id="selectArticleById" parameterType="int" resultType="com.ranbom.haque.entity.Article">
        select <include refid="selectFields"/>
        from article
        where status != 1
        and id = #{id}
    </select>

    <select id="selectArticleRows" parameterType="int" resultType="int">
        select count(id)
        from article
        where status != 1
        and quser_id = #{quserId}
    </select>

    <select id="selectArticlesByDate" resultType="java.util.Map">
        select date_format(create_time, "%Y-%m") as dates, count(*) as count
        from article where status != 1
        group by date_format(create_time, "%Y-%m")
        order by date_format(create_time, "%Y-%m") desc;
    </select>

    <select id="selectArticleTags" resultMap="ArticleTag">
        select article.*, article_tag.article_id, tag.*
        from article
        inner join article_tag on article.id = article_tag.article_id
        inner join tag on article_tag.tag_id = tag.id
    </select>

    <select id="selectArticleTagById" resultMap="ArticleTag">
        select article.*, article_tag.article_id, tag.*
        from article
        inner join article_tag on article.id = article_tag.article_id
        inner join tag on article_tag.tag_id = tag.id
        where article.id = #{id};
    </select>

    <insert id="insertArticle" parameterType="Article" useGeneratedKeys="true" keyProperty="id">
        insert into article (<include refid="insertFields"/>)
        values (#{quserId}, #{title}, #{content}, #{markdown}, #{createTime}, #{status})
    </insert>

    <update id="deleteArticleById">
        update article set status = 1
        where id = #{id};
    </update>

    <update id="updateArticle">
        update article set title = #{title}, content = #{content}, markdown = #{markdown}
        where id = #{id}
    </update>

</mapper>